#define APSTUDIO_READONLY_SYMBOLS

300   BITMAP DISCARDABLE "Background.bmp"
301   BITMAP DISCARDABLE "Delay-Target Bpm.bmp" 
302   BITMAP DISCARDABLE "Probability-Silence.bmp"
303   BITMAP DISCARDABLE "Onset-Beat-Phase.bmp"
304   BITMAP DISCARDABLE "Buttons-Bpm.bmp"

305   BITMAP DISCARDABLE "buttonSignal.bmp"
306   BITMAP DISCARDABLE "buttonAdjust.bmp"
307   BITMAP DISCARDABLE "buttonReset.bmp"

308   BITMAP DISCARDABLE "Slider.bmp"
309   BITMAP DISCARDABLE "SliderBackground.bmp"
310   BITMAP DISCARDABLE "Resonance.bmp"
311   BITMAP DISCARDABLE "SliderDelayBackground.bmp"