crack.exe
crack.rsm
vvvv.exe
vvvv.rsm
vvvv.map
vvvv.jdbg
*~.xml
*.csproj.user
*.tvsconfig
obj/
bin/
*.suo
UpgradeLog.XML
Backup/
_UpgradeReport_Files/
*.log
vvvv_*.zip
addons_*.zip
/packages/*
!/packages/repositories.config
packs/
