setup.exe
setup.rsm
vvvv.exe
vvvv.rsm
vvvv.map
vvvv.jdbg
*~.xml
*.csproj.user
*.tvsconfig
obj/
bin/
*.suo
UpgradeLog.XML
Backup/
_UpgradeReport_Files/
*.log
vvvv_*.zip
addons_*.zip
/packages/*
!/packages/repositories.config
packs/*
!/vvvv45/packs/VLIntegration/
_packs/
*.sdsettings
vvvv45/addonpack/lib/nodes/plugins/**/*.pak
vvvv45/addonpack/lib/nodes/plugins/*.bin
/vvvv45/config.exe
