[submodule "external/NuGetAssemblyLoader"]
	path = external/NuGetAssemblyLoader
	url = https://github.com/vvvv/NuGetAssemblyLoader.git
	branch = master
[submodule "vvvv45/girlpower/Tutorials"]
	path = vvvv45/girlpower/Tutorials
	url = https://github.com/vvvv/vvvv-tutorials.git
	branch = master