<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <config>
    <add key="repositoryPath" value="packages" />
  </config>
  <packageSources>
    <add key="vvvv package source" value="http://teamcity.vvvv.org/guestAuth/app/nuget/v1/FeedService.svc/" />
    <add key="dotnet-core" value="https://www.myget.org/F/dotnet-core/api/v3/index.json" />
    <add key="ImmutableObjectGraph" value="https://ci.appveyor.com/nuget/ImmutableObjectGraph" />
    <add key="loresoft" value="http://www.myget.org/F/loresoft/" />
    <add key="nugetizer3000" value="https://ci.appveyor.com/nuget/nugetizer3000" />
  </packageSources>
</configuration>
