<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="VVVV.Core" version="33.7.0" targetFramework="net451" />
  <package id="VVVV.PluginInterfaces" version="33.7.0" targetFramework="net451" />
  <package id="VVVV.SlimDX" version="1.0.1" targetFramework="net451" />
  <package id="VVVV.System.ComponentModel.Composition.Codeplex" version="2.5.0" targetFramework="net451" />
  <package id="VVVV.Utils" version="33.7.0" targetFramework="net451" />
</packages>