<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="ColladaSlimDX" version="1.0.0" targetFramework="net46" />
  <package id="MathNet.Numerics" version="3.19.0" targetFramework="net46" />
  <package id="VVVV.SlimDX" version="1.0.2" targetFramework="net46" />
  <package id="VVVV.System.ComponentModel.Composition.Codeplex" version="2.5.0" targetFramework="net40" />
</packages>