<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Rx-Core" version="2.2.5" targetFramework="net45" />
  <package id="Rx-Interfaces" version="2.2.5" targetFramework="net45" />
  <package id="Rx-Linq" version="2.2.5" targetFramework="net45" />
  <package id="Rx-Main" version="2.2.5" targetFramework="net45" />
  <package id="Rx-PlatformServices" version="2.2.5" targetFramework="net45" />
  <package id="VVVV.Core" version="34.1.0" targetFramework="net45" />
  <package id="VVVV.PluginInterfaces" version="34.1.0" targetFramework="net45" />
  <package id="VVVV.SlimDX" version="1.0.1" targetFramework="net45" />
  <package id="VVVV.System.ComponentModel.Composition.Codeplex" version="2.5.0" targetFramework="net45" />
  <package id="VVVV.Utils" version="34.1.0" targetFramework="net45" />
</packages>