<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="ICSharpCode.TextEditor" version="3.2.1.6466" targetFramework="net46" />
  <package id="log4net" version="1.2.10" targetFramework="net46" />
  <package id="System.Reactive" version="4.0.0" targetFramework="net461" />
  <package id="VVVV.System.ComponentModel.Composition.Codeplex" version="2.5.0" targetFramework="net4" />
</packages>