<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.Web.Xdt" version="2.1.1" targetFramework="net46" />
  <package id="NuGet.Core" version="2.14.0" targetFramework="net46" />
  <package id="NuProj.Common" version="0.11.30" targetFramework="net461" developmentDependency="true" />
  <package id="System.ComponentModel.Composition.Codeplex" version="2.5.0" targetFramework="net4" developmentDependency="true" />
  <package id="System.Reactive" version="4.0.0" targetFramework="net461" />
  <package id="VVVV.SlimDX" version="1.0.2" targetFramework="net46" />
</packages>