<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="NuProj.Common" version="0.10.4-beta" targetFramework="net46" developmentDependency="true" />
  <package id="System.ComponentModel.Composition.Codeplex" version="2.5.0" targetFramework="net40" developmentDependency="true" />
  <package id="System.Reactive" version="4.0.0-preview00001" targetFramework="net46" />
  <package id="VVVV.SlimDX" version="1.0.2" targetFramework="net46" />
</packages>